baidu-aip==2.2.18.0
certifi==2020.6.20
chardet==3.0.4
charset-normalizer==2.0.10
click==8.0.3
cloudscraper==1.2.58
colorama==0.4.3
fake-useragent==0.1.11
frida==12.11.6
frida-dexdump==1.0.3
frida-tools==8.1.0
h2==4.1.0
hexdump==3.3
hpack==4.0.0
hyperframe==6.0.1
idna==2.7
lxml==4.5.2
prettytable==3.0.0
prompt-toolkit==3.0.5
protobuf==3.19.3
pycryptodome==3.9.9
Pygments==2.6.1
pyparsing==3.0.6
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
PySocks==1.7.1
python-multipart==0.0.5
pyttsx==1.1
qrcode==7.3.1
requests==2.27.1
requests-toolbelt==0.9.1
six==1.16.0
socks==0
urllib3==1.21.1
wcwidth==0.2.5
prettytable==3.0.0